/* Work sans styels with google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@200;300;400;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
    justify-content: center;
}

.nav-saction {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.logo-section {
    display: flex;
    height: 40px;
    align-items: center;

}

.logo-name {

    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;

}

.logo-g {
    color: #FF42A5;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    color: black;
}

.about-us {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.follow-section {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    gap: 10px;
    padding: 15px;

}

nav a {
    text-decoration: none;

}

.about-text {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

.logo-nav {
    color: red;
}

/* banner section started */
.banner {
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
}

header {
    /* max-width: 1400px; */
    margin: 0 auto;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}


.banner-headding h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-headding h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 17px;
}

.btn-sign {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    border-radius: 48px;
    padding: 20px 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 24px;
}

.btn-go {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    border-radius: 48px;
    padding: 20px 40px;
    background: #4EC5F7;
}

.banner-pi {
    color: #E861B8;
}

/* We are game section */
.game-section {
    /* max-width: 1400px; */
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.image-game-extra {
    border: solid red 2px;

}

.image-game-width {
    width: 80%;
    height: 100%;


}

.game-extra-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   

}

.text-game-extra {
    text-align: right;
    width: 50%;
    height: auto;
}

.image-game-extra {
    width: 50%;

}


.text-game-extra h1 {

    font-size: 3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-game-extra p {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;

}

.btn-game {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    border-radius: 48px;
    padding: 20px 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}

.btn-unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

.text-game-last {
    margin-top: 24px;
}

/* Online Games Funny Videos */
.game-funny-videos {
    /* max-width: 1400px; */
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.game-funny-img-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.game-funny-heading-p,
.game-funny-heading {
    text-align: center;
    margin-top: 16px;
}

.game-funny-heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.game-funny-heading-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-funny-heading-p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.game-funny-heading-pn {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;

}

/* Play Instantly No Downloads No Installs */
.play-instantly-downloads {
    /* max-width: 1400px; */
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.play-headding {
    width: 50%;
    text-align: right;
    position: relative;
    right: 100px;
    bottom: 100px;

}

.play-headding-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.play-image {
    height: 50%;
    margin-left: 50px;
}

.play-headding-text-play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-headding-text-p {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;


}

.position-play-image {
    position: relative;
    bottom: 250px;
    right: 100px;
}

.position-play-image-female {
    position: relative;
    bottom: 250px;
    left: 500px;
}


/* Type of games */
.tyep-of-img {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 5px 20px;
    gap: 10px;
    border-radius: 45px;
    margin: 10px 0;
    box-shadow: #0B0223;

}

.circle-img-container {
    width: 80%;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

}

.circle-description {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;

}

/* footer-section */


.footer {
    align-items: center;
    margin-top: 50px;
}

.logo-footer {
    display: flex;
    color: white;

}

.anchor-text-new {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
}

.anchor-text-f {
    text-align: center;
    text-decoration: none;
}

.anchor-text-f a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.social-media-icon-footer {
    display: flex;
    width: 30%;
    font-size: 1.8rem;
    margin-top: 30px;
}

.social-media-icon-footer a {
    color: white;
}

.footer-trems {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;

}

.footer-last-text {
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.footer-section {
    background-color: #0B0223;
    color: white;
    height: 449px;
    margin-top: 100px;
    text-align: center;
    align-items: center;

}

.footer-section {
    color: white;
}

.footer-section-text {
    padding-top: 150px;

}


/* Mobile responsive */
@media screen and (max-width: 576px) {
    * {
        margin: auto;
        padding: 0;
    }
.circle-img-container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
    .nav-saction,
    .about-us {
        flex-direction: column;
    }


    .image-game-extra,
    .text-game-extra,
    .banner-image,
    .play-headding,
    .play-image {
        width: 100%;
        justify-items: center;
        justify-content: center;

    }

    .image-game-width {
        width: 100%;
    }

    .play-image {
        margin: 0;
    }

    .play-headding {
        right: 0;
        bottom: 0;
    }

    .text-game-extra {
        text-align: center;
    }

    .banner-section,
    .game-section {
        flex-direction: column-reverse;


    }

    .game-section {
        flex-direction: column-reverse;
    }

    .game-funny-img-section,
    .play-instantly-downloads {
        flex-direction: column;
    }

    .nav-saction {
        margin-top: 50px;
        width: 800px;
    }

    .about-us {
        margin-top: 50px;
    }
    .footer{
        width: 100%;
    }
}


/* Medium Device reponsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-saction {
        flex-direction: column;
        align-items: center;
    }

    .nav-saction {
        margin-top: 50px;
        width: 800px;
    }

    .about-us {
        margin-top: 50px;
    }
}